# Python
__pycache__/
*.py[cod]
*$py.class
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.venv/

# Distribution / packaging
build/
dist/
eggs/
.eggs/
*.egg-info/
*.egg

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.coverage
.coverage.*
.cache
nose2-junit.xml
.hypothesis/
.pytest_cache/

# Translations
*.mo

# Django stuff:
local_settings.py
db.sqlite3
db.sqlite3-journal

# VS Code
.vscode/

# macOS
.DS_Store

# env files
.env
*.env
